{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - commerce_order: The order entity.
 * - billing_information: The billing information.
 * - shipping_information: The shipping information.
 * - payment_method: The payment method.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
{% block order_items %}
  <table cellpadding=0 cellspacing=0 style="padding-top: 15px; padding-bottom:15px; width: 100%;">
    <tbody style="text-align: left;">
    {% for order_item in commerce_order.getItems %}
      <tr>
        <td>
          {{ order_item.getQuantity|number_format }} x
        </td>
        <td>
          {{ order_item.label }}
        </td>
        <td style="text-align: right;">
          {{ order_item.getTotalPrice|commerce_price_format }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
