parameters:
  level: 6
  scanDirectories:
    - ../../../../vendor/drush/drush/src-symfony-compatibility
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
  excludePaths:
    - '*/tests/*.php'
  stubFiles:
    - './tests/phpstan/stubs/CacheableDependencyInterface.stub'
    - './tests/phpstan/stubs/CacheBackendInterface.stub'
    - './tests/phpstan/stubs/CachedDiscoveryInterface.stub'
    - './tests/phpstan/stubs/DefaultPluginManager.stub'
    - './tests/phpstan/stubs/FormStateInterface.stub'
    - './tests/phpstan/stubs/LoggerInterface.stub'
    - './tests/phpstan/stubs/Map.stub'
    - './tests/phpstan/stubs/TokenInterface.stub'
    - './tests/phpstan/stubs/ViewsPluginInterface.stub'
