{#
/**
 * @file
 * Default theme implementation for webform submission data.
 *
 * Available variables:
 * - view_mode: The view mode; e.g., 'html', 'text', 'table', 'yaml', etc.
 * - webform_submission: The webform submission.
 * - webform: The webform.
 * - content: The webform submission content to render.
 *
 * @see template_preprocess_webform_submission_data()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'webform-submission-data',
    'webform-submission-data--webform-' ~ webform.id()|clean_class,
    view_mode ? 'webform-submission-data--view-mode-' ~ view_mode|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
