{#
/**
 * @file
 * The default template file for the HTML body of an easy email.
 *
 * Available variables:
 * - body: The HTML body content as a render array
 * - easy_email: The easy email entity
 *
 * This template may be overriden by easy email type, using one of the
 * following template names:
 * - easy-email-body-html.html.twig: global, used by default.
 * - easy-email-body-html--my-easy-email-type.html.twig: only for emails using the "my_easy_email_type" template.
 *
 * @see template_preprocess()
 * @see template_preprocess_easy_email_body_html()
 *
 * @ingroup themeable
 */
#}
<div class="easy-email-body">
  {{ body }}
</div>
