includes:
	- %rootDir%/../../../core/phpstan.neon.dist

parameters:
  ignoreErrors:
    # Drupal core's PHPStan config file ignores the non-anonymous variant of this.
    - "#^Anonymous class extends @internal class#"
  # Drupal core needs to ignore more things than we need to!
  reportUnmatchedIgnoredErrors: false
