{#
/**
 * @file
 * Default theme implementation for Project Browser.
 */
#}
{# cspell:ignore fullscreen #}

<div id="initial-loader" class="ajax-progress ajax-progress--fullscreen">
  <div class="ajax-progress__throbber ajax-progress__throbber--fullscreen">
    &nbsp;
  </div>
</div>
<div data-project-browser-instance-id="{{ id }}" id="project-browser"></div>
