<div id="yoast-seo-preview-widget" class="yoast-seo-score-widget overallScore {{ overall_score|clean_class }}">
    <span class="score_circle"></span>
    <span class="score_value">{{ overall_score }}</span>
</div>