<div id="{{ wrapper_target_id }}">
    <div id="wpseo_meta"></div>
    <div class="label">{% trans %}Snippet preview{% endtrans %}</div>
    <div id="{{ snippet_target_id }}"></div>
    <div class="label">{% trans %}Content analysis{% endtrans %}</div>
    <div id="{{ output_target_id }}"></div>
</div>
