.paragraph {
  font-family: var(--font-serif);
  margin-bottom: 1.7em;
}

.paragraph--large {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.8125rem;
}

.paragraph--bold {
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: var(--line-height-base);
}

.paragraph--standard {
  font-size: var(--font-size-l);
  line-height: 2.25rem;
}

.paragraph--small {
  font-size: var(--font-size-base);
  line-height: 2.25rem;
}
